 
.App {
  margin: auto;
  width:80%;
  height: 2300px;
  border:2px;
  /* background-image: url("https://s7d2.scene7.com/is/image/TWCNews/1031_nc_sunny_weather_2-1?wid=1250&hei=703&$wide-bg$");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  */
/*
  text-align: center;
  width: auto;
  border: 2px solid green;
  margin: auto;
  color: whitesmoke;
*/
  } 

  .header{
    height: 100px;
    width: 100%;
    font-size: 34px;
    /* background-color: whitesmoke; */
    color: rgb(53, 50, 50);
  
    line-height: 100px;
    }

  .mainurl{
    text-decoration: none;
    color: black;
  }
    
.title Link{
  color:whitesmoke;
  }

.ZipCode{
  color: whitesmoke;
}

.currdetail{
  text-align: center;
  color: whitesmoke;


}
  
.fiveday{
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
}
.dayforecast{
  padding: 20px;
  flex-basis:20%;
  box-sizing: border-box;
  text-align: center;

 
}

.hour{
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  
}

.hourforecast{
  padding: 20px;
  flex-basis:20%;
  box-sizing: border-box;
  text-align: center;
  border:2px solid white;
  border-radius: 5%;
}


@media (min-width: 900px){
  .hour{
      flex-basis:20%;
  }
  .fiveday{
    flex-basis:20%;
  }
  
}